.container{
    margin-top:14em;
}
.body{
    text-align: center;
    background-color: black;
    color: lightskyblue;
    font-style: italic;
}
.buttons{
    background-color: lightskyblue;
    width: 10%;
    height: 2em;
    padding:1em;
}