<<<<<<< HEAD
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Coda', cursive;
    background: black;
    color: white;
    padding-top: 20px;
}

speech-bubble {
    width: 100%;
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 19px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -9.5px;
	margin-bottom: -19px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 400px;
    min-height: 400px;
    background: linear-gradient(160deg, #cacaca 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #2e3d49;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 0 0 3em;
   
}

.deck .card {
    height: 50px;
    width: 50px;
    background: #2e3d49;
    font-size: 0;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);;
}

.deck .card.open {
    transform: rotateY(0) !important;
    background: darkgrey;
    cursor: default;
    font-size: 30px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

/*
 * Responsiveness
 */

@media only screen and (max-width: 800px){
    .deck .card{
      width: 75px;
      height: 75px;
      line-height: 75px;
    }
  
    .deck {
      width: 500px;
    }
}

@media only screen and (max-width: 450px){
    .deck .card{
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
  
    .deck {
      width: 300px;
    }
}

/* Button used to open the chat form - fixed at the bottom of the page */
.chat-open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  width: 300px;
  bottom: 23px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
  min-height: 300px;
}

/* Add styles to the form container */
.chat-form-container {
  width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.chat-form-container textarea {
  width: 100%;
  padding: 16px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  height: 60px;
}

/* When the textarea gets focus, do something */
.chat-form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.chat-form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.chat-form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.chat-form-container .btn:hover, .open-button:hover {
  opacity: 1;
=======
.container{
    margin-top:14em;
}
.body{
    text-align: center;
    background-color: black;
    color: lightskyblue;
    font-style: italic;
}
.buttons{
    background-color: lightskyblue;
    width: 10%;
    height: 2em;
    padding:1em;
>>>>>>> e2a650f4ab46c63b89f5bdeb0f8b2d5d27962a35
}